/***PAGE STYLE (BEGIN)***/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.custom-select-content-wrapper {
	width: 100%;
	height: 100vh;
	background: #ffd700;
	background: -moz-linear-gradient(top,  #ffd700 0%, #efa602 100%);
	background: -webkit-linear-gradient(top,  #ffd700 0%,#efa602 100%);
	background: linear-gradient(to bottom,  #ffd700 0%,#efa602 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#efa602',GradientType=0 );
}

.custom-select-form-wrapper {
	position: relative;
	top: 50px;
	margin: 0 auto;
	padding: 0 2.5%;
	width: 32.5%;
	max-width: 650px;
	min-width: 400px;
	border-radius: 10px;
	border: 2px solid rgba(159,107,4,0.45);
	background-color: rgba(255,255,255,0.45);
	box-shadow: 0 10px 20px #bb9241;
}

.custom-select-heading {	
	margin: 50px 0;
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;	
	text-shadow: 0 2px 1px #a9742b;
}
/***PAGE STYLE (END)***/

/***CUSTOM SELECT STYLE (BEGIN)***/
fieldset {
	border: none;
}

input[type="text"],
select,
textarea {
	width: 100%;
}

.custom-select-wrapper {
	position: relative;
	margin-bottom: 90px;
	display: block;
}

.custom-select-wrapper select {
	display: none;
	overflow: hidden;
	width: 100%;
}

.custom-select {
	position: relative;
	display: block;	
}

.custom-select-trigger {
	position: relative;	
	padding: 0;
	display: block;
	overflow: hidden;
	width: 100%;	
	border: 2px solid #dbb729;
	border-radius: 10px;
	background-color: #fff;
	font-size: 1.875em;
	line-height: 160%;
	color: #3e345c;
	cursor: pointer;
}

.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	right: 20px;
	margin-top: -0.13636363em;
	border-bottom: 1px solid #84570a;
	border-right: 1px solid #84570a;
	-webkit-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
	margin-top: 0.13636363em;
	-webkit-transform: rotate(-135deg) translateY(-50%);
	-ms-transform: rotate(-135deg) translateY(-50%);
	transform: rotate(-135deg) translateY(-50%);
}

.custom-select-trigger-text {
	position: relative;
	top: 0.4em;	
	padding: 0 45px 0 20px;
	display: inline-block;
	overflow: hidden;
	height: 57px;	
	color: #84570a;
}

.custom-options {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	margin: 0;
	display: none;
	min-width: 100%;	
	border: 1px solid #ececec;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	-webkit-transition: all .4s ease-in-out;	
	opacity: 0;
	z-index: 10;
	transition: all .4s ease-in-out;
}

.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	top: -0.22727272em;
	right: 25px;
	width: 7px;
	height: 7px;
	margin-bottom: -0.18181818em;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.option-hover:before {
	background: #f9f9f9;
}

.custom-option {
	position: relative;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ececec;
	font-size: 1em;
	color: #333333;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 10px;
}

.custom-option.selection:hover,
.custom-option:hover {
	background: #fff9e6;
}

/* **CUSTOM SELECT STYLE (END)***/

/* Styles for .product-display and .topflex */

.product-display {
	flex-grow: 1;
	padding: 10px;
  }
  
  .topflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 14%;
  }
  
  /* Styles for .productcover1 images */

  .productcover1 {
	display: inline-block;
	width: calc(30% - 20px);
	margin: 3px 10px;
	margin-bottom: 30px;
	height: 30vh;
	border-radius: 10px;
	box-shadow: rgb(2, 3, 5) 0px 20px 30px -10px;
  }
  
  /* Media query for small screens */

  @media screen and (max-width: 576px) {
	.topflex {
	  margin-top: -70vh; /* Adjust the value as needed */
	}
  
	.productcover1 {
	  height: 20vh; 
	}
  }
  

  /* Media query for medium screens */

  @media screen and (min-width: 577px) and (max-width: 793px) {
	.topflex {
	  margin-top: -50vh; 
	}
  
	.productcover1 {
	  width: calc(30% - 20px);
	  height: 30vh;
	}
  }
  
  /* Media query for large screens */

  @media screen and (min-width: 793px) {
	.topflex {
	  margin-top: -30vh; 
	}
  
	.productcover1 {
	  width: calc(30% - 20px);
	  height: 30vh;
	}
  }
  
  /* Media query for extra-large screens */

  @media screen and (min-width: 1200px) {
	.topflex {
	  margin-top: -20vh; 
	}
  }
  

.para{
    font-family: Jost;
    font-size: 16px;
	width: 100%;
	margin-bottom:10px ;
}


  .product-display {
	flex-grow: 1;
	padding: 10px;
  }
  
  .topflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 20%;
	margin-top: -35%;
  }
  
  .productcover1 {
	display: inline-block;
	width: calc(30% - 20px); 
	margin: 3px 10px; 
	margin-bottom: 30px;
	height: 50vh;
	border-radius: 10px;
  }
  
  
  
  
  .image-wrapper {
	height: 100%;
	width: 100%;
  }
  
  .product-image {
	border-radius: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
  }
.productcover1{
	box-shadow: rgb(2, 3, 5) 0px 20px 30px -10px;
}
.product-image {
    transition: transform 0.3s ease;
  }
  
  .product-image:hover {
    transform: scale(1.4);
  }

 

  /* Variables */
/* ---------------------- */
:root {
	--gray: #333;
	--gray-light: #aaa;
	--gray-lighter: #eee;
	--space: 40px;
	--blue: #428bca;
	--blue-dark: #366b9a;
  }
  
  
  
  /* Body */
  /* ---------------------- */
  body {
	color: var(--gray);
	font-family: 'Helvetica', arial;
  }
  
  .wrap {
	padding: var(--space);
	text-align: center;
  }
  
  hr {
	clear: both;
	margin-top: var(--space);
	margin-bottom: var(--space);
	border: 0;
	border-top: 1px solid var(--gray-light);
  }
  
  h1 {
	font-size: 30px;
	margin-bottom: var(--space);
  }
  
  p {
	margin-bottom: calc(var(--space) / 2);
  }
  
  /* Btn */
  /* ---------------------- */
  .btn {
	background: white;
	border: 1px solid var(--blue-dark);
	border-radius: 3px;
	color: #222121;
	display: inline-block;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
	text-align: center;
	min-width: 60px;
	position: relative;
	transition: color 0.1s ease;
  }
  .btn:hover {
	background: rgb(189, 189, 189);
	
  }
  .btn.btn-big {
	font-size: 18px;
	padding: 15px 20px;
	min-width: 100px;
  }
  .btn-close {
	color: var(--gray-light);
	font-size: 30px;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 0;
  }
  .btn-close:hover {
	color: darken(var(--gray-light), 10%);
  }
  
  /* Modal */
  /* ---------------------- */
  .modal:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
  }
  .modal:target:before {
	display: block;
  }
  .modal:target .modal-dialog {
	transform: translate(0, 0);
	top: 20%;
  }
  
  /* Modal Dialog */
  /* ---------------------- */
  .modal-dialog {
	background: #fefefe;
	border: var(--gray) solid 1px;
	border-radius: 5px;
	margin-left: -200px;
	position: fixed;
	left: 50%;
	top: -100%;
	z-index: 11;
	width: 360px;
	transform: translate(0, -500%);
	transition: transform 0.3s ease-out;
  }
  
  .modal-body {
	padding: calc(var(--space) / 2);
  }
  
  .modal-header,
  .modal-footer {
	padding: calc(var(--space) / 4) calc(var(--space) / 2);
  }
  
  .modal-header {
	border-bottom: var(--gray-lighter) solid 1px;
  }
  .modal-header h2 {
	font-size: 20px;
  }
  
  .modal-footer {
	border-top: var(--gray-lighter) solid 1px;
	text-align: right;
  }
  

@media (max-width: 768px) {
   
   .topflex{
		margin-top: -150%;
		margin-left: 8%;
	}
    .productcover1{
   
            height: 300px;
            width: 290px;

		          }
		  .product-image:hover {
			transform: scale(1.1);
		  }
       
  
}

.loader-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /* styles.css */

/* Container holding the categories section */

.categories-container {
	margin-bottom: 15px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.1);
  }
  
  /* Heading style */
  .categories-heading {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	margin-top: 10px;
  }
  
  /* Select element style */
  .categories-select {
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 30%;
	height: 70%;
	font-size: 16px;
	padding: 5px;
	outline: none;
	transition: border-color 0.3s ease-in-out;
  }
  
  .categories-select:focus {
	border-color: #9e1b32;
  }
  
  /* Option style */
  
  .categories-select option {
	font-size: 16px;
  }
  
  /* Line style */
  .categories-line {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 15px;
  }
  
  /* Hover effect for select element */
  .categories-select:hover {
	border-color: #9e1b32;
  }
  
  /* Animation for select element */
  @keyframes selectAnimation {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  /* Animation for line */
  @keyframes lineAnimation {
	0% {
	  width: 0%;
	}
	100% {
	  width: 100%;
	}
  }
  @media only screen and (min-width: 793px) and (max-width: 1199px) {
.topflex{
	margin-top: -50%;
	margin-left: 14rem;
}
.categories-select{
	height: 54rem;
}
  }
  /* Active style for selected option */
  .categories-select option:checked {
	background-color: #9e1b32;
	color: white;
  }
  
  /* Disabled style for select element */
  .categories-select:disabled {
	opacity: 0.5;
	cursor: not-allowed;
  }
  
  /* Responsive styles */

  @media (max-width: 768px) {
	.categories-container {
	  padding: 10px;
	}
	.categories-select {
	  width: 100%;
	}
  }
 
  @media(max-width: 991px) {
	.home-container01 {
	  display: none;
	}
	.home-left {
	  display: none;
	}
	.home-right {
	  display: none;
	}
	.home-icons {
	  display: none;
	}
	.home-burger-menu {
	  display: flex;
	}
	.home-icon {
	  width: 24px;
	  height: 24px;
	  display: flex;
	}
	.home-logo-center1 {
	  margin-left: 0px;
	}
	.home-hero1 {
	  flex-direction: column;
	}
	.home-container03 {
	  align-items: center;
	  margin-right: 0px;
	  margin-bottom: var(--dl-space-space-twounits);
	  padding-right: 0px;
	}
	.home-text16 {
	  text-align: center;
	}
	.home-left1 {
	  width: 100%;
	}
	.home-footer1 {
	  flex-direction: column-reverse;
	}
	.home-links-container {
	  margin-bottom: var(--dl-space-space-threeunits);
	}
  }
  @media(max-width: 767px) {
	.home-burger-menu {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	.home-main {
	  padding-bottom: var(--dl-space-space-threeunits);
	}
	.home-hero {
	  padding-top: var(--dl-space-space-unit);
	  padding-bottom: var(--dl-space-space-unit);
	}
	.home-hero1 {
	  padding-left: var(--dl-space-space-twounits);
	  padding-right: var(--dl-space-space-twounits);
	}
	.home-cards-container {
	  grid-gap: var(--dl-space-space-unit);
	}
	.home-text23 {
	  max-width: 770px;
	}
	.home-gallery {
	  flex-direction: column;
	}
	.home-top {
	  flex-direction: column;
	}
	.home-bottom {
	  flex-direction: column;
	}
	.home-full-width-banner {
	  padding-top: var(--dl-space-space-twounits);
	  flex-direction: column;
	}
	.home-left4 {
	  padding-top: var(--dl-space-space-twounits);
	  padding-left: var(--dl-space-space-unit);
	  padding-right: var(--dl-space-space-unit);
	  padding-bottom: var(--dl-space-space-twounits);
	}
	.home-content {
	  margin-bottom: var(--dl-space-space-unit);
	}
	.home-text30 {
	  width: auto;
	}
	.home-image6 {
	  width: 100%;
	}
	.home-footer1 {
	  padding-top: var(--dl-space-space-threeunits);
	  padding-left: var(--dl-space-space-twounits);
	  padding-right: var(--dl-space-space-twounits);
	  padding-bottom: var(--dl-space-space-threeunits);
	}
	.home-links-container {
	  margin-top: var(--dl-space-space-twounits);
	  flex-direction: column;
	  justify-content: space-between;
	}
  }
  @media(max-width: 479px) {
	.home-container {
	  padding-top: 55px;
	}
	.home-header {
	  padding: var(--dl-space-space-unit);
	}
	.home-mobile-menu {
	  padding: 16px;
	}
	.home-hero1 {
	  padding-top: var(--dl-space-space-twounits);
	  padding-left: var(--dl-space-space-unit);
	  padding-right: var(--dl-space-space-unit);
	  padding-bottom: var(--dl-space-space-twounits);
	}
	.home-container03 {
	  margin-bottom: var(--dl-space-space-unit);
	}
	.home-btn-group {
	  flex-direction: column;
	}
	.home-left4 {
	  width: auto;
	}
	.home-footer1 {
	  padding: var(--dl-space-space-unit);
	}
	.home-links-container {
	  align-items: flex-start;
	  flex-direction: column;
	  justify-content: space-between;
	}
	.home-container10 {
	  margin-right: var(--dl-space-space-unit);
	}
	.home-container11 {
	  margin-right: var(--dl-space-space-unit);
	}
  }
  