.sidebar {
  width: 200px;
  height: 500px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 8px;
  position: fixed;
  
}

.btn {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 10px;
  border: none ;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #555;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: rgb(216, 210, 210) !important;
}

.btn.active {
  color: #e12030;
}

  /* Media query for small screens */
  @media screen and (max-width: 768px) {
	.sidebar {
	  display: none;
	}
  }
